$background-color: #000000;   // black
$container-border: #702DD5;    // purple
$text-color: #C28CE2;          // lavender

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: $background-color;  // Set background color
  color: $text-color;  // Set text color

  h2 {
    margin: 10px 0;
    color: $text-color;  // Match text color
  }
}
